h1{
    color: black;
    font-family: 'Playfair Display'serif;
    font-weight: bold;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.fa-github {
    color: #333;
    font-size: 1.2rem;
    margin-left: 5px;
}